@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0B0F19;
  color: white;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background: #7C3AED;
  color: white;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

section {
  position: relative;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #7C3AED;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #0B0F19;
}